@import 'primeicons/primeicons.css';

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  background-color: beige;
}

#app {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.app-container{
  width: 1200px;
}

.image-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-width: 150px;
  max-height: 100%;
  object-fit: contain;
}

.custom-column{
  width: 25%;
}
.table-custom{
  min-height: calc(100vh - 330px);
}
.p-orderlist-controls {
  display: none;
}
.image-list{
  width: 50px;
}
.custom-slidebar{
  width: 500px;
}
.title-product{
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.p-orderlist-list{
  padding: 10px;
  height: 500px;
  max-height: 500px;
}
.total-p{
  padding: 12px 20px;
}

@media (max-width: 1250px)  {
  .app-container{
    width: 95vw;
    box-sizing: border-box;
  }
}

@media (max-width: 400px)  {
  .app-container{
    width: 100vw;
    padding: 10px;
  }
}